<h1>What <em>exactly</em> does NeuroLibre offer</h1>

<p>
  <b><%= Rails.application.settings['name'] %> is a powerful preprint server for reproducible neuroscience notebooks that seamlessly integrate data, code, runtime, text and (preferably interactive) figures.</b>
</p>
<p style="color:black;">
  Upon acceptance, Notebooks can be freely modified and re-executed through the web by anyone, offering a fully reproducible, “libre” path from data to figures. The review process does not aim at assessing the scientific quality of the submission, but rather that the notebooks are reproducible.
  Copyright of NeuroLibre papers is retained by submitting authors and accepted papers are subject to a <a href ="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
</p>